@page
@model mission09_bshorne.Pages.CheckoutCompletedModel
@{
}

<div class="text-center">
    <h1>Thank you for your purchase!</h1>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>